<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-camisetasFC.png" />

	<title>CamisetasFC</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<%- include('./partials/headerLogueado.ejs', {user: usuario})%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper formu">
		<div class="row contenedorPadre">
			<div class="col-12 contenedorPadre1">
				<h2 class="products-title">Editar perfil</h2>
			</div>
		<form action="/baba" method="get" class="formulario">
		<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" id="mail" name="usuario">
				<label class="form-label" for="usuario">Email</label>
			</div>

			<!-- Password input -->
			<div class="form-outline mb-4">
				<input type="password" id="contrasena" name="contrasena">
				<label class="form-label" for="contrasena">Contraseña</label>
			</div>

			<div class="form-outline mb-4">
				<input type="date" id="fecha" name="fecha" >
				<label for="fecha" class="form-label">fecha de nacimiento</label>
				
			</div>
			<div class="form-outline mb-4">
				<input type="number" id="dni" name="dni">
				<label for="dni" class="form-label">DNI</label>
			</div>
			<div class="form-outline mb-4">
				<input type="text" id="ftoPerfil" name="ftoPerfil">
				<label for="ftoPerfil" class="form-label">Foto de perfil</label>
			</div>
			

			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
			

	</form>
	</div>
	</div>



	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs')%>
	</footer>
	<!-- /footer -->
</body>

</html>